body {
    background-image: url('https://cdn.vox-cdn.com/thumbor/5hMjvcCnnq-7qBCCaNYY9FUdeYE=/0x0:3840x2160/2070x1164/filters:focal(1613x773:2227x1387):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/69919398/Pokemon_UNITE___Team_Up._Take_Down.___Screenshot_1.0.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.login-background {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header-name {
    margin-bottom: 20px
}

.form-group label {
    margin-top: 17px
}

.form-group input {
    height: 50px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 3px
}

.btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 30px;
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
}